{% extends "base.html" %}

{% block title %}{{room_name | capfirst}}{% endblock title %}

{% block content %}
    <h2>Welcome to the {{room_name | capfirst}} chat room</h2>


    <form id="form">
        <input autofocus type="text" name="message" placeholder="Send a message"/>
    </form>

    <div id="messages"></div>
    <div id="notifications"></div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">

        let form = $("#form");
        let messages = $("#messages");
        let notifications = $("#notifications");

        // Create WS connection
        let url = `ws://${window.location.host}/chat/{{room_name}}`;
        const chatSocket = new WebSocket(url);

        // Insert notifications
        const insertNotification = (notification) => {
            notifications.append(notification)
            setTimeout(() => {
                notification.remove();
            }, "5000");
        }

        // Manage incoming messages
        chatSocket.onmessage = (e) => {
            let data = JSON.parse(e.data);

            if(data.type === 'chat'){
                messages.append(`<p>${data.message}</p>`)
            }

            if(data.type === 'user_connected'){
                notification = $(`<h3 style="color:green">${data.message}</h3>`)
                insertNotification(notification)
            }

            if(data.type === 'user_disconnected'){
                notification = $(`<h3 style="color:red">${data.message}</h3>`)
                insertNotification(notification)
            }
        }

        // Send new message
        form.on("submit", (e)=>{
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message':message,
                'user':'{{ user.username }}'
            }))
            form.trigger("reset");
        })

    </script>
{% endblock javascript %}


