{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="text-center">
        <form id="form">
            <select id="room_select" class="form-select form-select-lg mb-3" required>
                <option value="" selected disabled>--Choose your chat room--</option>
                <option value="politic">Politic</option>
                <option value="economy">Economy</option>
                <option value="offtopic">Off Topic</option>
            </select>
            <button type="submit" class="btn btn-success">Connect</button>
        </form>
    </div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        $("#form").on("submit", (e)=>{
            e.preventDefault();
            let room_name = $("#room_select").find(":selected").val();
            window.location.href = "{% url 'data_stream:chat_room' room_name='xxx' %}".replace("xxx", room_name);
        })
    </script>
{% endblock javascript %}

